<div class="main">
  <div class="inner">
    <div class="form__wrapper">
      <h2 class="page-heading">美容師登録編集</h2>
      <%= render partial: "form", locals: {hairdresser: @hairdresser} %>
    </div>
  </div>
</div>